@keyframes fadein {

    from {
       opacity: 0;
       transform: translateY(-20px);
    }
    to {
      opacity: 1;
       
    }
 

}
div img{
    animation: fadein 1.5s none;
     
}
  
div img:hover{
    scale: 1.03; 
    transition: transform 1s;
}