@media (max-width:1024px) {

    nav {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
                     
   
    }
}

@media (max-width:768px){
  



   
}